.simplhover-element {
  position:relative;
  display: inline-block;
  list-style: none;
  width: 100%;
  overflow: hidden;
}

.simplhover-element-content {
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  cursor: pointer
}

.simplhover-element h2 {
  padding: 28% 0 0;
  font-family: Roboto;
}
.simplhover-element h2 a {
  color:#666666;
  text-decoration:none;
  font-size:.8em;
}
.simplhover-element span{
    padding-top:3%;
    font-family: Roboto;
    font-weight: 400;
    font-size:.5em;
    display:block
  }

.simplhover-element img {
  display:block;
  max-width: 100%;
  -moz-transition:
    all .2s ease-out;
  -webkit-transition:
    all .2s ease-out;
}

img.blur {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -webkit-box-shadow: inset 0 0 20px rgba(15,15,15,.6);
  /*-webkit-filter: blur(2px);*/
}

@media only screen and (max-width: 568px) {
  .simplhover-element h2 a {
		font-size:1.2em;
	}
}
