@charset "UTF-8";
/* CSS Document */
* {margin:0; padding:0}
@font-face {
    font-family: 'museosans_500';
    src: url('../fonts/museoSans/MuseoSans_500-webfont.eot');
    src: url('../fonts/museoSans/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museoSans/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/museoSans/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/museoSans/MuseoSans_500-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/LatoBold/Lato-Bol-webfont.eot');
    src: url('../fonts/LatoBold/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LatoBold/Lato-Bol-webfont.woff') format('woff'),
         url('../fonts/LatoBold/Lato-Bol-webfont.ttf') format('truetype'),
         url('../fonts/LatoBold/Lato-Bol-webfont.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/LatoReg/Lato-Reg-webfont.eot');
    src: url('../fonts/LatoReg/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LatoReg/Lato-Reg-webfont.woff') format('woff'),
         url('../fonts/LatoReg/Lato-Reg-webfont.ttf') format('truetype'),
         url('../fonts/LatoReg/Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'IconFont';
	src:url('../fonts/icons/icomoon.eot');
	src:url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons/icomoon.woff') format('woff'),
		url('../fonts/icons/icomoon.ttf') format('truetype'),
		url('../fonts/icons/icomoon.svg#IconFont') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'IconFont' !important;
}
h1{
	font-family:"museosans_500", Trebuchet MS, "Arial, Helvetica", sans-serif;
	font-size:1.6em;
	color:#FC7C60;
	font-weight:100
}
h2{
	font-family: 'LatoRegular', Trebuchet MS, "Arial, Helvetica", sans-serif;
	font-size:1.6em;
	font-weight:100;
	color:#FC795F;
	padding-top: 35px;
}
html{
	/*background: #FD7D62;*/
	height: 100%;
}
body{
	margin:0 auto;
	padding:0;
	position:relative;
	height: 100%;
	background: #FBFBF9;
	border-top:4px solid #FD7D62;
}

.wrapper {
	width: 100%;
	display: inline-block
}

	.wrapper.header {
		background-image:url("../img/texture.png");
		background-repeat:repeat;
		border-top: 4px solid #FFFFFF;
		margin:50px 0 0;
	}
	.wrapper.about-wrap {
		background: white;
		overflow: hidden;
		border-bottom: 50px solid #FBFBF9
	}
#content_about img {
	width: 100%;
	height:auto
}

.container {
	width: 100%;
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

#header{
	text-align:center;
	min-height: 238px;
	padding: 6% 0 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
#header img{
	width:100%;
	max-width:389px;
	height:auto
}
.menu{
	padding: 5px 0;
	background-color:#FBFBF9;
	position: fixed;
	z-index:90;
	-webkit-box-shadow: 0 -5px 0 #FD7D62;
	-moz-box-shadow: 0 -5px 0 #FD7D62;
	box-shadow: 0 -5px 0 #FD7D62;
}
	.menu > div {
		border-top: 1px solid #E0D2CF;
		border-bottom: 1px solid #E0D2CF;
	}
	.menu .container{
		position:relative;
	}
#navigation{
	height:42px;
	text-align:left;
	list-style:none;
	line-height:42px;
}
#navigation li{
	display:inline-block;
	padding:0 2%;
}
#navigation li a{
	font-family:"museosans_500", Trebuchet MS, "Arial, Helvetica", sans-serif;
	font-size:.96em;
	color:#574849;
	text-decoration:none;
	-webkit-transition:color .3s ease-in;
   -moz-transition:color .3s ease-in;
   -o-transition:color .3s ease-in;
   transition:color .3s ease-in;
}
#navigation li a:hover{
	color:#EA5D4E;
}
#social_navigation{
	position:absolute;
	top:6px;
	right:10px;
}
#social_navigation li{
	display:inline-block;
	float:left;
	padding-left:10px;
}
#social_navigation a{
	text-decoration:none;
}
#social_navigation a .icon{
	height:30px;
	width:30px;
	color:#9A9A9A;
	display:block;
	font-size:1.2em;
	text-align:center;
	line-height:25px;
	-webkit-transition:color .3s ease-in;
   -moz-transition:color .3s ease-in;
   -o-transition:color .3s ease-in;
   transition:color .3s ease-in;
}
#social_navigation a:hover .icon{
	height:30px;
	width:30px;
	display:block;
	font-size:1.2em;
	text-align:center;
	line-height:25px;
}

	.dribbble{
		line-height: 30px !important;
	}
	#social_navigation a:hover .dribbble{
		color:#ea4c89;
	}
	#social_navigation a:hover .mail{
		color:#FD7D62;
	}
	#social_navigation a:hover .linkedin{
		color:#0076A8
	}
#conteneur{
	overflow:hidden;
}
.title{
	height:60px;
	left:50%;
	border-top:1px solid #E0D2CF;
	margin-top:6px;
	margin-bottom:60px;
	border-bottom: 1px solid #E0D2CF;
}
	.work {
		border-top: 0 none;
	}
	.work span{
		display: block;
		width: 140px;
		height: 45px;
		position: relative;
		top: 35px;
		margin: 0 auto;
		text-indent: -999em;
		background:url(../img/work.gif) no-repeat;
	}

	.about {
		border-top: 0 none;
	}
	.about span{
		display: block;
		width: 140px;
		height: 45px;
		position: relative;
		top: 35px;
		margin: 0 auto;
		text-indent: -999em;
		background:url(../img/about.gif) no-repeat;
	}
#vignettes{
	text-align:center;
	margin:0 auto;
	padding:0;
}
#vignettes li{
	display:inline-block;
	float:left;
	margin:0 3% 30px 0;
	list-style:none;
	width: 31.334%
}
	#vignettes img {
		width: 100%;
		height: auto
	}
.derniere{
	margin-right:0 !important;
}
#content_about{
	height:740px;
	text-align:center;
	margin-top:46px;
	background-color:#ffffff;
}
#content_about p{
	text-align: left;
	font-family:LatoRegular;
	color:#ACA0A0;
	font-size: 16px;
	padding-top:20px;
}
#content_about p span{
	font-size: 30px;
	color:#978C8C;
	margin-top:18px;
	font-family:LatoBold;
}
#story
{
	padding:50px 0;
	width:50%;
	display:inline-block;
	float:left;
}
#skills{
	margin:45px 0;
	padding-right:2%;
	width:32%;
	height:auto;
	display:inline-block;
	float:right;
}
#skills > p {
	margin: 0 0 1em;
}
.categorie li span{
	color:#ACA0A0;
	display: inline-block;
	float: none;
	padding: 15px 20px;
	font-family:LatoBold;
	font-size:1em;
	float: left;

	}
.categorie{
	text-align: left;
	font-family:LatoRegular;
	color:#ACA0A0;
	padding-top:10px;
	overflow: hidden;
}
.categorie li{
	list-style-type:none;
}
	.first{
		padding-top:0px;
	}
.categorie img {
	width: auto !important;
	float:left;
}
.images_projet{
	padding-bottom:120px;
	width:100%;
	margin:0 auto;
	text-align:center;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
.images_projet img{
	height:auto;
	padding:10px 0
}
.small.premier{
			padding-right:10px;
		}
.navigation_projet{
	position:absolute;
	right:0;
	top:90px;
	width:60px;
}
	.simple{
		top:74px;
	}
.navigation_projet a:hover{
	opacity:.5;
}
.textes_projet{
	width:100%;
	padding:40px 0 25px ;
	text-align: center;
	font-family:museosans_500;
	color:#999999;
	font-size: 1em;
	font-weight: lighter;
	position:relative;
}
.textes_projet a{
	color:#999999;
	text-decoration: none;
}
.textes_projet a:hover{
	opacity:.8;
	color:#FC7C60;
}
.cat_projet{
	padding:10px 0 3px;
}
.lil{
	border-bottom:1px solid #cccccc;
	padding:0 0 10px;
	font-size: 12px;
}
.legals{
	font-size: 12px;
	padding:10px 0;
}
.wrapper.footer{
	background-image:url(../img/texture_footer.png);
	background-repeat:repeat;
	height:auto;
	border-bottom:#FBFBF9 4px solid;
	padding-bottom:20px;
	-webkit-box-shadow: 0 5px 0 #FD7D62;
	-moz-box-shadow: 0 5px 0 #FD7D62;
	box-shadow: 0 5px 0 #FD7D62;
}
#footer{
	text-align:center;
}
#footer li{
	display:inline-block;
	width:33.33%;
	text-align:left;
	margin-top:25px;
}
	#footer>li{
		min-height:150px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#footer li li {
		float: none;
		width: 92%;
		display: block;
		margin:0 0 0 8%;
		padding-top:15px;
		border:none;
		}
	#footer img{
		margin-top:15px;
	}
	.logo_footer{
	float:left;
	border-left:none;
	border-right:1px solid #EC6549;
	padding: 0 0 0 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	.contact_footer{
	float:right;
	border-left:1px solid #FD9781;
	border-right:1px solid #EC6549;
	}
	.design_footer{
	float:right;
	border-right:none;
	border-left:1px solid #FD9781;
	}
#footer p{
	font-family:"museosans_500", Trebuchet MS, "Arial, Helvetica", sans-serif;
	font-size:1.4em;
	color:#ffffff;
	text-decoration:none;
	font-weight:300;
	margin-left:8%;
}
#footer a{
	font-family:"museosans_500", Trebuchet MS, "Arial, Helvetica", sans-serif;
	color:#ffffff;
	text-decoration:none;
	font-size:1em;
	-webkit-transition:opacity .3s ease-in;
   -moz-transition:opacity .3s ease-in;
   -o-transition:opacity .3s ease-in;
   transition:opacity .3s ease-in;
}
#footer a:hover{
	opacity: .5;
}
#footer .icon {
	color:#AB442A;
	font-size:1.4em;
	text-shadow:1px 1px rgba(255,255,255,.5);
	padding-right:4%;
}
.sous_categories{
	display:block;
	clear:both;
}
@media only screen and (max-width: 568px) {
  .show-on-phone {
    display:inline-block;
  }

  .hide-on-phone {
    display: none
  }
  #vignettes li {
  	width: 100%;
	margin: 0 0 15px
  }
  #navigation li{
	padding:0 2%;
	font-size:.94em
	}
	#header{
		min-height: 60px;
		padding: 20% 0
	}
	#header img{
		width:80%
	}
	#content_about{
	text-align:left;
	}
	h2{
	font-size:1.2em;
	}
	#story > p:first-child, #skills > p:first-child, #skills li {
		text-align: left!important;
	}
	.logo_footer{
		float:none !important;
		clear: both;
		padding: 0;
		border: 0 none;
		width: 100% !important;
		text-align: center !important;
	}
	.contact_footer{
		width:49% !important;
		border-left:none;
	}
	.textes_projet,
	.images_projet {
		width: 100%
	}
	.images_projet {
		margin-left: 0;
		padding: 2% 0 15%
	}
	.images_projet img{
		width:100%;
	}
	.images_projet .small{
			width: 48.6%;
		}
		.small.premier{
			padding-right:1%;
		}
	.textes_projet{
		text-align: left;
		padding-top:60px;
		font-size:88%;
	}
	.navigation_projet{
		left:1px;
		top:30px;
	}
	h1{
		padding-top:15px;
	}
	#story, #skills {
		width: 100%;
	}
	#story > p:first-child, #skills > p:first-child, #skills li {
		text-align: center;
	}
	#skills {
		margin-top: 0;
	}
	#skills span{
		margin-left:10px;
	}
	#skills li {
		list-style-type: none;
		width: 225px;
		margin-left:10px;
		float:left;
	}
	.design_footer{
		width:49% !important;
		border-right: 0 none;
	}
	#footer img{
		margin-top:10px;
	}
}
@media only screen and (min-width: 569px) and (max-width: 1000px) {
	#navigation{
		text-align:left
	}
	.textes_projet,
	.images_projet {
		width: 100%;
	}
	.images_projet img{
		width: 100%;
	}
		.images_projet .small{
			width: 48.6%;
		}
		.small.premier{
			padding-right:2%;
		}
	.images_projet {
		text-align: center;
		margin-left: 0;
		padding: 2% 0 15%
	}
	#vignettes h2 a{
	font-size:.8em;
	}
	.textes_projet{
		float:left;
	}
	.navigation_projet{
		right:0;
	}
	.logo_footer{
		float:none !important;
		clear: both;
		padding: 0;
		border: 0 none;
		width: 100% !important;
		text-align: center !important;
	}
	.contact_footer{
		width:49% !important;
		border-left:none;
	}
	.design_footer{
		width:49% !important;
		border-right: 0 none;
	}


}

