@charset "UTF-8";
/* CSS Document */
* {margin:0; padding:0}

html{
	height: 100%;
}
body{
	margin:0 auto;
	padding:0;
	position:relative;
	height: 100%;
	background: #f7f7f7;
}
.wrapper {
	width: 100%;
}
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.navigation_projet{
	border: solid 1px red;
}
.nav_gauche{
	float:left;
}
.nav_droite{
	float:right;
}